body{
   max-width: 900px;
   display: block;
   background-image: url("../images/dogbg1.jpg");
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

h1 {

	font-family: Impact, Charcoal, sans-serif;
	font-size: 60px;
	font-weight: 900;
	text-align: center;	
	text-shadow: 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
	padding: 30px;
	color: #d6eec4;
}
button {
	margin: 10px;
	background-color: #d2d1cc;
	pointer: cursor;
	clear: both;
	font-size: 20px;
	font-weight: bold;

}

.dog-list{
	padding: 20px;
	background: #baea94;
	border: 5px solid #d6eec5;
	margin-left: 50px;
	text-align: center;
    background-image: url("../images/doggybg.jpg");
}	

#dogButtons{
	color: #d47735;
}

button:hover {
	background-color: #beaf4d;
}

img {
	
	display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 250px;

label {
	color: #3c2616;
}

.row{
	padding-bottom: 50px;
    padding-top: 30px;
}



p {
	color: #3c2616;
}

/input[type=text] {*/
    background-color: white;
    color: black;
    border: solid black 2px;
}

#superDog .superDog  {
	display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 250px;
    float: right;

}

#addDog {
	background-color: #635333;
    color: #d6d1cc;
    font-weight: bolder;
}

#dogInput {
	color: black;
}

#addDog:hover {
	background-color: blue;
}